<!-- Modal -->
<div class="modal fade exampleModalFullscreen" id="commonXlDialog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalFullscreenSmLabel" aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen">
        <div class="modal-content" id="commonXlDialogContent">
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="common-sm-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="common-sm-modal-content">
        </div>
    </div>
</div>
<!-- Modal -->
<!-- Modal -->
@* <div class="modal fade bs-example-modal-lg zoomIn" id="commonlargeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="commonlargeMdLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="commonlargeModalContent"></div>

    </div>
</div>
 *@
<div class="modal fade bs-example-modal-lg zoomIn" id="commonlargeModal"
     data-bs-backdrop="static" tabindex="-1" aria-labelledby="commonlargeMdLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <!-- 👈 change here -->
        <div class="modal-content" id="commonlargeModalContent"></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-sm zoomIn" id="commonSmallDialog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalFullscreenLgLabel" aria-hidden="true">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content" id="commonSmallDialogContent"></div>
    </div>
</div>
<div id="common-md-dialog" class="modal fade zoomIn" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="common-md-DialogContent">
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Modal -->
<div class="modal fade zoomIn" id="common-xl-dialog" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalFullscreenXlLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="common-xl-dialogContent"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalFullscreenXxl" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalFullscreenXxlLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xxl-down">
        <div class="modal-content" id="exampleModalFullscreenXxlContent">
        </div>
    </div>
</div>

<!-- Modal flip -->
<div id="flipModal" class="modal fade flip" data-bs-backdrop="static" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Blur -->