@* <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html> *@


<div class="col-xxl-2 col-xl-2 col-md-2">
    <!--Start offcanvas-->
    <!--end offcanvas-header-->
    <form class="d-flex flex-column justify-content-end h-100">
        <div class="offcanvas-body">
            <div class="">
                <div class="w-100">
                    <!--end offcanvas-body-->
                    <div class="filter-btn">
                        <a href="/Common/Table?table=User" class="btn">Clear Filter</a>
                        <i class="fa-solid fa-filter"></i>
                        @* <button type="submit" class="btn btn-primary w-100">Filters</button> *@
                    </div>
                </div>
            </div>
            <!-- Accordions Bordered -->
            <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered">

                <div class="mb-2">
                    <div class="accordion-item" id="BranchMasterbox">
                        <h2 class="accordion-header text-dark">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_BranchMasterbox" aria-expanded="true" aria-controls="accor_BranchMasterboxx">
                                Branch
                            </button>
                        </h2>
                        <div id="accor_BranchMasterbox" class="accordion-collapse collapse filterheight" aria-labelledby="BranchMasterbox" data-bs-parent="#accordionBordered">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <div class="accordion-item" id="RoleMasterbox">
                        <h2 class="accordion-header text-dark">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_RoleMasterbox" aria-expanded="true" aria-controls="accor_RoleMasterboxx">
                                Role
                            </button>
                        </h2>
                        <div id="accor_RoleMasterbox" class="accordion-collapse collapse filterheight" aria-labelledby="RoleMasterbox" data-bs-parent="#accordionBordered">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <div class="accordion-item" id="SessionCompletedbox">
                        <h2 class="accordion-header text-dark">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_SessionCompletedbox" aria-expanded="true" aria-controls="accor_SessionCompletedboxx">
                                Active
                            </button>
                        </h2>
                        <div id="accor_SessionCompletedbox" class="accordion-collapse collapse filterheight" aria-labelledby="SessionCompletedbox" data-bs-parent="#accordionBordered">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="accordion-item" id="Departmentbox">
                        <h2 class="accordion-header text-dark">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_Departmentbox" aria-expanded="true" aria-controls="accor_Departmentboxx">
                                Department
                            </button>
                        </h2>
                        <div id="accor_Departmentbox" class="accordion-collapse collapse filterheight" aria-labelledby="Departmentbox" data-bs-parent="#accordionBordered">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mb-2">
                    <div class="accordion-item" id="Gendertbox">
                        <h2 class="accordion-header text-dark">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor_Gendertbox" aria-expanded="true" aria-controls="accor_Gendertboxx">
                                Gender
                            </button>
                        </h2>
                        <div id="accor_Gendertbox" class="accordion-collapse collapse filterheight" aria-labelledby="Gendertbox" data-bs-parent="#accordionBordered">
                            <div class="accordion-body">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!--end offcanvas-body-->
        <div class="offcanvas-footer border-top p-3 text-center hstack gap-2">
            <button class="btn btn-light w-100">Clear Filter</button>
            @* <button type="submit" class="btn btn-primary w-100">Filters</button> *@
        </div>
        <!--end offcanvas-footer-->
    </form>

    <form class="d-flex flex-column justify-content-end ">
        <div class="offcanvas-bodyy">
            @* <div class=""> *@
                <div class="w-100">

                    <!--end offcanvas-body-->
                    <div class="filter-btn">
                        <a href="/Common/Table?table=User" class="btn"> Dashboard</a>
                        <i class="fa-solid fa-filter"></i>
                        @* <button type="submit" class="btn btn-primary w-100">Filters</button> *@
                    </div>
                </div>
            @* </div> *@
            <!-- Accordions Bordered -->
            <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered">

                <div class="mb-2">
                    <div class="accordion-item" id="BranchMasterbox">
                        <h2 class="accordion-header text-dark">
                           <a class="btn btn" href="@Url.Action("Index", "User")">
                                Add Users
                            </a>
                        </h2>

                    </div>
                </div>

                <div class="mb-2">
                    <div class="accordion-item" id="d">
                        <h2 class="accordion-header text-dark">
                            <a class="btn btn" href="@Url.Action("Index", "Product")">
                                Add Product
                            </a>
                        </h2>


                    </div>
                </div>
            </div>
        </div>
        <!--end offcanvas-body-->
        @* <div class="offcanvas-footer border-top p-3 text-center hstack gap-2">
      <button class="btn btn-light w-100">Clear Filter</button>
      <button type="submit" class="btn btn-primary w-100">Filters</button> 
  </div> *@
        <!--end offcanvas-footer-->
    </form>
    <!--end offcanvas-->
</div>