@model AMS.Models.UserMasterModel
@{
    // Layout = "../Shared/_HeaderLayout.cshtml";
    ViewData["Title"] = "Login";
    // Layout = "_HeaderLayout";

}


<h1>
    UserDashboard
</h1>
@* 
<div class="col-lg-6 pt-4">
    <div class="card punch-status">
        <div class="card-body">
            <div class="punch-det d-flex justify-content-between">
                <h6 id="user">Working Time: </h6>
                <h6 id="attendanceDateDiv">Date: </h6>
            </div>
            <a href="#" class="punch-info">
                    <div class="punch-hours" style="margin-bottom:30px !important" onclick="SNJAMS.Dashboard.OnClickRemoteAttendance()">
                        <span id="workedHours">Punch In</span>
                    </div>
            </a>

            <div class="statistics">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 mb-3 text-center">
                        <div class="stats-box py-2">
                            <p>Punch In Time</p>
                            <div class="row justify-content-center text-center">
                                <h6 id="punchInTimeCount"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3 text-center">
                        <div class="stats-box py-2">
                            <p>Punch Out Time</p>
                            <div class="row justify-content-center text-center">
                                <h6 id="punchOutTimeCount"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@