@model AMS.Models.ProductModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <link href="https://cdn.datatables.net/fixedcolumns/4.2.1/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    }

<div class="col-xxl-10 col-xl-10 col-md-10 col-sm-12">
    <div class="card" id="leadsList">
        <div class="card-header d-flex align-items-center">
            <h5 class="card-title mb-0 flex-grow-1"></i>Products</h5>
            <div class="d-flex me-4 gap-4">
                @*  <select id="ddStatus" class="form-control" onchange="SnjCrm.User.Search()">
                        <option value="">Select Status</option>
                        <option value="1">Active</option>
                        <option value="2">In-Active</option>
                    </select> *@
                <button type="button" class="btn btn-primary btn-sm add-btn w-100" id="addNewproductBtnId" onclick="ams.product.Add()"><i class="ri-add-line align-bottom me-1"></i> Add Prodcut</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-lead ">
                <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 table-container tblscrollFixed dataTables_wrapper dt-bootstrap4 no-footer table-responsive scrollbar" style="overflow: auto;background-color: white">
                    <table id="productTableId" class="table table-bordered nowrap table-striped align-middle snj-table" style="width:100%">
                        <thead class="fixedthead table-light">
                            <tr>
                                <th data-sort="action"><b>Action</b></th>
                                <th class="sort"><b>Product Name</b></th>
                                <th class="sort"><b>SKU</b></th>
                                <th class="sort"><b>Price</b></th>
                                  <th class="sort"><b>Category</b></th>  
                                <th class="sort"><b>Status</b></th>
                                </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot id="tablefoxot" class="highlight" style="background-color:darkgray;overflow-y:scroll">
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



@section scripts {
    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.1/js/dataTables.fixedColumns.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/Lib/js/Custom/ams.common.js"></script>
    <script src="~/Lib/js/Custom/ams.product.js"></script>
    <script>
        $(document).ready(function () {
            ams.product.Init({
                TableId: "productTableId",
                SearchId: "txtSearch",
            });
        });
    </script>
    <!-- App js -->
    <script src="~/lib/libs/cleave.js/cleave.min.js"></script>
    @* <script src="~/Lib/js/app.js"></script> *@
}
