@model AMS.Models.UserMasterModel

<div class="modal-header" style="background-color:#023B68;color:white;">
    <h5 class="modal-title">Change Password</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close" id="close-modal"></button>
</div>
<form class="validation-wizard form-horizontal form-material needs-validation" id="ChangePwdForm" autocomplete="off">
    <div class="modal-body">
        <input asp-for="EncryptUserMasterId" type="hidden" />

        <div class="mb-3">
            <label asp-for="OldPassword"></label> <span class="text-danger"> *</span>
            <input type="password" asp-for="OldPassword" autocomplete="off" class="form-control req-border" required>
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Userpassword"></label> <span class="text-danger"> *</span>
            <input type="password" asp-for="Userpassword" autocomplete="off" class="form-control req-border" required>
            <span class="text-danger" asp-validation-for="Userpassword"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label> <span class="text-danger"> *</span>
            <input type="password" asp-for="ConfirmPassword" autocomplete="off" class="form-control req-border" required>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>



    </div>

</form>

<div class="modal-footer border-0 pt-6 px-0 pb-0">
    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Cancel</button>
    <button type="button" class="btn btn-success btn-snj-save" id="saveLeadFileBtnId" onclick="ams.common.SavePasswordOnly()"><i class="fas fa-save"></i> Save</button>
</div>
